################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dockers/legacy-method/custom-dockers/custom-tf15-py36

# exclude vi backup files
*~

